# PyCharm IDE
.idea

# Git
.git

# Testing
.tox

# Coverage
.coverage
.coverage.*
htmlcov/

# Python
__pycache__
venv*/
build/

# LibreOffice
.~lock.*

# Chapter 6
output.docx
LetterToUSDA.docx
DearInternet.docx

# Errata
*.log
